
@{
    ViewBag.Title = "Add";
}

<h2>Add Employee</h2>

<form>
    <div class="form-group"><span class="text-danger">* marked Fields are mandatory.</span></div>
    <div class="form-group">
        <label for="empName">Employee Name*</label>
        <input id="empName" type="text" class="form-control">
        
    </div>
    <div class="form-group">
        <label for="empDesignation">Designation*</label>
        <input id="empDesignation" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="empDOB">Date of Birth</label>
        <input id="empDOB" type="date" class="form-control">
    </div>
    <div class="form-group">
        <label for="empContactNumber">Contact Number*</label>
        <input id="empContactNumber" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="empContactNumber">Address</label>
        <textarea id="empAddress" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="empfileUpload">File Upload</label>
        <input type="file" id="empfileUpload" class="form-control" />
    </div>
    <div class="form-group">
        <label for="empPhotoUpload">Photo Upload</label>
        <input type="file" id="empPhotoUpload" class="form-control" />
    </div>

    <button id="submitBtn" type="button" class="btn btn-primary">Submit</button>
</form>

<div id="snackbar"></div>
<script>
  

    $('#empfileUpload').change(function (e) {
        validateInput(this,'empfileUpload',5)
    });

    $('#empPhotoUpload').change(function (e) {
        validateInputForImage(this,'empPhotoUpload',1)
    });
    function clearForm() {
        $('form').find("input[type=text] ").val("");
        $('form').find("input[type=textarea] ").val("");
        $('form').find("input[type=date] ").val("");
        $('form').find("input[type=file] ").val("");
    }
    $('#submitBtn').click(function () {
        var dataObj = new Object();
        dataObj.EmployeeName = $('#empName').val();
        dataObj.Designation = $('#empDesignation').val();
        dataObj.DateOfBirth = $('#empDOB').val();
        dataObj.ContactNumber = $('#empContactNumber').val();
        dataObj.Address = $('#empAddress').val();
        dataObj.FileUpload =  $('#empfileUpload').val().split('\\')[2]
        dataObj.PhotoUpload = $('#empPhotoUpload').val().split('\\')[2]
        //make an employee details object and pass in ajax to the controller
        $.ajax({
            url: '@Url.Action("AddEmployee","Employee")',
            data: dataObj,
            success: function (data) {
                debugger;
                if (data.msg == "success") {
                    toast("Added Successfully");
                    clearForm()
                }
                else {
                    toast(data.errorMsg);
                }
            },
            error: function (data) {
                toast(data.errorMsg);
            }
        })
    })
    function validateInput(thisObj,id,fileSizeInMb) {
        var ext = thisObj.value.match(/\.(.+)$/)[1];
        switch (ext) {
            case 'pdf':
                if (((thisObj.files[0].size / 1024) / 1024) < fileSizeInMb) {
                    //success case for file upload
                    $('#submitBtn').attr("disabled", false)
                } else {
                    toast('File Size ' +fileSizeInMb+' MB Max Allowed');
                    $('#' + id).val('')
                    $('#submitBtn').attr("disabled",true)
                }
                break;
            default:
                toast('File Type Only PDF Allowed');
                $('#' + id).val('')
                $('#submitBtn').attr("disabled", true)
        }
    }
    function validateInputForImage(thisObj,id,fileSizeInMb) {
        var ext = thisObj.value.match(/\.(.+)$/)[1];
        switch (ext) {
            case 'jpeg':
                if (((thisObj.files[0].size / 1024) / 1024) < fileSizeInMb) {
                    //success case for file upload
                    $('#submitBtn').attr("disabled", false)

                } else {
                    toast('File Size 5 MB Max Allowed');
                    $('#' + id).val('')
                    $('#submitBtn').attr("disabled", true)
                }
                break;
            case 'png':
                if (((thisObj.files[0].size / 1024) / 1024) < fileSizeInMb) {
                    //success case for file upload

                } else {
                    toast('File Size ' + fileSizeInMb +' MB Max Allowed');
                    $('#' + id).val('')
                    $('#submitBtn').attr("disabled", true)
                }
                break;
            default:
                toast('File Type Only JPEG/PNG Allowed');
                $('#' + id).val('')
                $('#submitBtn').attr("disabled", true)
        }
    }
    function toast(msg) {
        var x = document.getElementById("snackbar");
        $('#snackbar').html(msg)
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
</script>